<!-- Banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption caption">
                <p class="capt">Matches are made in heaven...
                    We help you find them..</p>
                    <br>
                    <button class="btn  registr" id="find" (click)="register()" *ngIf="loggedIn=='false'">Chat with Hans</button>
            </div>
            <img class="first-slide img-fluid sliding" src="../../assets/cover1.webp" alt="First slide">
        </div>
        <div class="carousel-item">
                <div class="carousel-caption caption">
                        <p  class="capt">Matches are made in heaven...
                            We help you find them...</p><br>
                            <button class="btn registr" id="find" (click)="register()" *ngIf="loggedIn=='false'">Chat with Hans</button>
                    </div>
            <img class="second-slide img-fluid sliding" src="../../assets/cover2!!.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
                <div class="carousel-caption caption">
                        <p  class="capt">Matches are made in heaven...
                            We help you find them..</p><br>
                            <button class="btn registr" id="find" (click)="register()" *ngIf="loggedIn=='false'">Chat with Hans</button>
                    </div>
            <img class="third-slide img-fluid sliding" src="../../assets/cover3!!.webp" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Trust -->
<div style="background-color:#487cf7;border-top:4px white solid">
    <br>
    <h4 style="color:white;font-size: 14px;" class="text-center">Why Trust Us?</h4>
    <br>
    <div class="container-fluid">
        <div class="row" style="text-align: center;">
            <div class="col-md-3 col-6">
                <div class="text-center">
                    <img src="../../assets/fingerprintred.png" class="trust">
                    <p >Offline Verifcation<br>at Temples</p>
                </div>
            </div>
            <div class="col-md-3 col-6 col-center">
                <div class="text-center">
                    <img src="../../assets/whatsappred.png" class="trust">
                    <p>Find Matches On<br>Whatsapp</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class=" text-center">
                    <img src="../../assets/userred.png" class="trust">
                    <p>100% Authentic<br>Profiles</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center">
                    <img src="../../assets/mapred.png" class="trust">
                    <p>Largest Matchmaking <br> Network</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whatsapp" >
    <div class="container" style="padding-top:5%;padding-bottom:2%;">
        <div class="row">
            <div class="col-md-6 col-center">
                <img src="../../assets/whatsappImage.webp" class="img-fluid whats">
            </div>
            <div class="col-md-6">
                <div class="text col-center">
                    <h3 style="font-weight:bolder; color: #285fdd" class="text-left center">Find Matches On Whatsapp</h3>
                    <p class="text-justify textWhats">We are revolutionizing the way match making is done by utilizing our
                        Whatsapp Assistant. We send
                        profiles directly on your Whatsapp and help you focus on Finalizing your match faster. So come
                        join the bandwagon and</p>
                    <ul style="padding-left:1.5rem" class="text-justify textWhats">
                        <li>Say YES to easy to use Matchmaking Platform</li>
                        <li>Receive INSTANT replies from your matches on Whatsapp</li>
                        <li>Only GENUINE Authentic Profiles</li>
                    </ul>
                    <br>
                    <button class="btn reisterf-btn" id="find" (click)="register()" *ngIf="loggedIn=='false'">Register for free</button>
                </div>
            </div>
        </div>
    </div><br>
    <div class="card cards"></div>
</div>
<div class="map-banner">
    <img src="../../assets/diya.webp" class="img-fluid diya">
    <div style="margin-left:10%;background-color:rgb(236, 213, 186);margin-right:10%;" class="bot">
        <div class="semi-circle"></div>
        <div class="container s" style="padding-top:1%">
            <div class="row">
                <div class="col-md-6 col-center">
                    <img src="../../assets/locations.svg" class="img-fluid whats" style="margin-bottom:1rem">
                </div>
                <div class="col-md-6">
                    <div class="text col-center">
                        <h3 style="font-weight:bolder;color: #285fdd"  class="text-left center">Offline Presence</h3>
                        <p class="text-justify textWhats">
                            With a network spanning across 25+ temples we have one of the most extensive databases and
                            reach among all matrimony service providers. Our profiles are verified offline in major
                            temples across the city. Listed below are the temples where our experienced matchmaking
                            representatives are available for registration and verification purposes.
                        </p>
                        <ul style="padding-left:1rem" class="textWhats">
                            <li>Largest Offline Network</li>
                            <li>Centralized Database</li>
                            <li>Mature and Experienced Matchmakers</li>
                        </ul>
                        <button class="btn reisterf-btn vcenter" id="find" routerLink="/viewCentres" >View Centres</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:8%;padding-bottom:6%">
        <div class="row">
                <div class="col-md-6 col-center" >
                        <img src="../../assets/matchmaking got personalized.jpeg" class="img-fluid personalisedImage">
                    </div>
            <div class="col-md-6 col-center">
                <div class="text">
                    <h3 style="color:white;font-weight: bold" class="text-left center">Matchmaking got Personalized</h3>
                    <br>
                    <p style="color:white; text-align: left" class="textWhats">Personalized matchmaking refers to a service wherein
                        our clients are
                        assigned an exclusive Matchmaker who will work with them throughout the process and help them
                        zero in on their perfect life partner. Our matchmakers meetup with you not only try to
                        understand your basic requirements but also get to know your dreams and aspirations about your
                        perfect life partner. Our experts also accompany you to your meetings when necessary and guide
                        you along the way with their immense relationship experience gained by working with couples
                        over many years. Some features about our personalized service include:
                    </p>
                    <ul style="padding-left:1rem;color: white;text-align: left" class=" textWhats">
                        <li>Expert Matchmakers who understand your needs and guide you through every step</li>
                        <li>Organize Regular meetings as per mutual consent and post meeting followup</li>
                        <li>A friendly guide to consult while taking one of the most important decisions of your life</li>
                    </ul>
                </div>
                <button class="btn reisterf-btn" id="find" >Whatsapp us </button><br>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron" style="border-radius: 0;background: url(../../assets/whatsbg.webp);margin-bottom: 0">
    <div class="container" style="margin-bottom:1rem">
        <h3 style="font-weight:bolder;color:#285fdd;font-size: 20px" class="text-center">Few Words From Our Clients</h3>
        <br><br>
        <div id="review" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators review-indicators" style="top:19rem">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active pink text-center">
                    <img class="img-fluid client-image" src="../../assets/Review1.webp">
                    <h6 style="color:#285fdd;font-weight: bold">Kaushik & Anushka</h6>
                    <p style="color:black;">I loved their events which are systematically organized and gives one time to meet a number of matches at the same time. We met at one such event and I recommend their services to everyone. </p>
                </div>
                <div class="carousel-item pink text-center">
                    <div style="text-align:center !important"><img class="img-fluid" src="../../assets/Review2.webp"
                            class="client-image"></div>
                    <h6 style="color:#285fdd;font-weight: bold">Sahil & Salony </h6>
                    <p style="color:black;">I met the love of my Life through Hans Matrimony. I'm so happy and I could not thank them much. Its so unique concept like who would have thought they would find their life partner on Whatsapp. </p>
                </div>
                <div class="carousel-item pink text-center" >
                    <div style="text-align:center !important"><img class="img-fluid" src="../../assets/photography.webp"
                            class="client-image"></div>
                    <h6 style="color:#285fdd;font-weight: bold">Lakshay & Priya</h6>
                    <p style="color:black">Hans Matrimony is by far the best matrimonial
                        service.
                        Aprajita and her team of matchmakers sieved through thousands of profiles to find me my perfect
                        match.
                        I wish them all the best and highly recommend their services. </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#review" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#review" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div><a target="_blank" href="https://goo.gl/maps/vTgmJHbex842"><img src="../../assets/address.webp" width="100%" height="450" class="mapImage" style="border:0"></a></div>
<div class="container-fluid" style="padding-left:0;padding-right:0">
    <div class="purple">
        <div class="container" style="background-color:white;">
            <h3 class="text-center" style="font-weight:bolder;padding-top:1rem ">Request A Call Back</h3>
            
            <div class="row col-center">
                <!-- <form [formGroup]="callbackDetails" style="display: inline-block"> -->
                <div class="col-md-4">
                    <mat-form-field class="input-mobile">
                        <input matInput placeholder="Name" value="" required #name>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field  class="input-mobile">
                        <input matInput placeholder="Email" value="" required #email>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field  class="input-mobile">
                        <input matInput placeholder="Phone Number" value="" required #phone>
                    </mat-form-field>
                </div>
                    <button class="btn reisterf-btn " style="margin: auto;" id="find" (click)="callBack(name,email,phone)">Send Request</button>
                <!-- </form> -->
            </div>
            <br>
        </div>
    </div>
</div>
