.link-footer {
    text-decoration: none;
    color: white
}

#backBtn{
    display: none;
    left: 2.3%;
    z-index: 9999;
}

.contact-details {
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 1rem;
    color:white;font-size:1rem;
}
lib-ngx-notification{
    z-index: inherit 99999;;
}
.banner-img{
    height : 4rem;
}

.login{
    margin-right: 22px;
}

.footer {
    background-color: #46132B;
}
.follow{
    margin-left: 35%
}
@media only screen and (max-width: 900px) {
    .footer {
        background-color: #46132B;
    }
    .fa {
        padding: 0%;
        width: 1rem;
    }

    .banner-img{
        height : 2rem;
    }
    .follow{
        margin-left: 5%;
        position: relative;
        left: 14px;
    
    }
    .match{
        margin-top:1em
    }
    .btn-responsive {
        padding:8px 4px;
        font-size:80%;
        line-height: 1;
      }
      .contact-details
      {
        margin-right: 1.3rem;
        font-size:.6rem;
      }
      h4 {
        font-size: 1rem;
    }
    .row{
        font-size: 14px;
    }
    .navbar-brand{
        position: relative;
            top: 26px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand{
        position: relative;
            top: 0px;
    }
    .btn-responsive {
        padding:8px 4px;
        font-size:80%;
        line-height: 1;
        margin-top: 20px;

      }

     #backBtn{
         display: inline-block;
        margin-top: 14%;  
        left: calc(100% - 80px);
    }
    .sizeIt {
        font-size: 12px;
    }

}
