<!doctype html>
<html lang="en">
<base href="/">
<head>
  <meta charset="utf-8">
  <title>HansWebApp</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    * {
    font-family: 'Raleway', sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
  </style>
  <link rel="icon" type="image/x-icon" href="assets/logo1.ico">
</head>

<body>
  <app-root></app-root>
  <ng-snotify></ng-snotify>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root" *ngIf="routerUrl != '/dashboard'"></div>
  <!-- Your customer chat code -->
<div class="fb-customerchat"
attribution=setup_tool
page_id="1927627064231716">
</div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v3.2'
      });
    };
    
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



</body>

</html>
